:root {
  /* Colors */
  --primary-color: rgba(44, 87, 117, 1);
  --second-color: rgba(35, 158, 166, 1);
  --third-color: rgba(0, 255, 25, 1);
  --fourth-color: rgba(36, 123, 160, 1);
  --fifth-color: rgba(0, 0, 0, 0,25);
  --sixth-color: rgba(232, 241, 242, 1);
  --seven-color: rgba(27, 152, 224, 1);
  --eighth-color: rgba(36, 123, 160, 1);
  --ninth-color: rgba(0, 100, 148, 1);
  --tenth-color: rgba(19, 41, 61, 1);
  --eleventh-color: rgba(255, 255, 255, 1);
  --twelfth-color: rgba(0, 0, 0, 1);
  

  /* sizes */
  --w-100: 100%;
  --w-60: 60%;
  --h-50p: 50px;
  --h-50vh: 50vh;
  --h-40vh: 40vh;
}