// Mobile
@media only screen and (max-width: 576px) {
    header {
        nav {
            height: 50px;
            grid-template-columns: 1fr 2fr 1fr;
            grid-template-areas:
                "div1 div2 div2"
                "div3 div3 div3";
            div:nth-child(1) {
                grid-area: div1;
            }
            div:nth-child(2) {
                grid-area: div2;
            }
            div:nth-child(3) {
                grid-area: div3;
                height: 50px;
                padding: 1% 15%;

                input {
                    font-size: 15px;
                    padding: 0 50px 0 25px;
                    border-radius: 15px;
                    font-family: "Times New Roman", Times, serif;
                }
                i {
                    right: 80px;
                }
            }
        }
    }
    .info {
        padding: 120px 10px 20px 10px;

        div {
            width: 100%;
            padding: 10px;

            table {
                width: 100%;

                tr:first-child {
                    td {
                        font-size: 13px;
                        font-weight: bold;
                    }
                }

                tr:not(:first-child) {
                    td:first-child {
                        font-weight: bold;
                    }
                }
            }
            table,
            td {
                font-size: 12px;
            }

            td {
                padding: 10px 2px;
            }
        }
    }
}

// Mobile
@media only screen and (min-width: 577px) and (max-width: 768px) {
}

// Tablets
@media only screen and (min-width: 769px) and (max-width: 992px) {
}

// Laptops
@media only screen and (min-width: 993px) and (max-width: 1200px) {
}

// Laptops HD e FHD
@media only screen and (min-width: 1201px) and (max-width: 1920px) {
    header {
        display: flex;
            justify-content: center;
            align-items: center;
        nav {     
            
            width: 50%;       
            div:nth-child(1) {
            }
            div:nth-child(2) {
            }
            div:nth-child(3) {
                padding: 3.5% 5%;
                input {
                    font-size: 15px;
                    padding: 0 50px 0 20px;
                    font-family: "Times New Roman", Times, serif;
                }
                i {
                    right: 30px;
                }
            }
        }
    }
    .info {
        padding: 8% 20%;

        div {
            padding: 20px 10px;

            table {
                width: 100%;
            }

            td {
                padding: 10px;
            }

            tr {
                td:first-child,
                td:nth-child(3) {
                    font-size: 16px;
                    font-weight: bold;
                }
            }
        }
    }
}

@media only screen and (min-width: 1921px) {
}
