// Mobile
@media only screen and (max-width: 640px) {
    header {
        nav {
            width: 100%;
            grid-template-columns: 1fr 1fr 2.5fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: "div-1 div-1 div-2" "div-3 div-3 div-3";
            border-radius: 0px;
            padding: clamp(0px, 2vw, 10px) 0;

            .div-1 {
                grid-area: div-1;
                // grid-template-columns: .1fr 2fr;
                .img {
                    div {
                        width: clamp(0px, 13vw, 50px);
                        height: clamp(0px, 13vw, 50px);

                        img {
                            width: clamp(0px, 15vw, 60px);
                            height: clamp(0px, 15vw, 60px);
                        }
                    }
                }
                .bemvindo {

                    div:first-child {
                        align-items: flex-end;
                        font-size: clamp(0px, 2.5vw, 10px);
                    }
    
                    div:last-child {
                        align-items: flex-start;
                        font-size: clamp(0px, 3vw, 15px);
                    }
                }
            }
            .div-2 {
                grid-area: div-2;

                a {
                    font-size: clamp(0px, 3vw, 28px);dfgggdfgdfgdfgdfgdf
                }
            }
            .div-3 {
                grid-area: div-3;

                input {
                    margin-left: 20px;
                    width: 75%;
                    height: 75%;
                    outline: none;
                    border-radius: 50px;
                    font-size: clamp(0px, 3.5vw, 17px);
                }

                i {
                    font-size: clamp(0px, 4vw, 25px);
                    right: clamp(0px, 20vw, 100px);
                }
            }
        }
    }
    
    .info {
        padding: clamp(20px, 16vw, 80px) 0;
        background-color: red;
        grid-template-columns: 2fr 1fr;
        div:first-child {
            padding: 10px;
            border-radius: 0;

            div {
                padding: 0;
            }

            table {

            }

            td {
                font-size: 12px;
                padding: 0px 0px;
            }
        }
        div:last-child {
            img {
                width: 50px;
            }
        }
    }
    .hist {
        width: 100%;
    }
}

// // Mobile
// @media only screen and (min-width: 641px) and (max-width: 768px) {
// }

// // Tablets
// @media only screen and (min-width: 769px) and (max-width: 1200px) {
// }

// // Laptops
// @media only screen and (min-width: 993px) and (max-width: 1200px) {
// }

// // Laptops HD e FHD
// @media only screen and (min-width: 1201px) and (max-width: 1920px) {


// @media only screen and (min-width: 1921px) {
// }