header {
  width: var(--w-100);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

header nav {
  width: 50%;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-columns: 1.5fr 3fr 1.5fr;
      grid-template-columns: 1.5fr 3fr 1.5fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  background-color: var(--primary-color);
  border-radius: 0 0 clamp(0px, 1vw, 15px) clamp(5px, 1vw, 15px);
  padding: clamp(0px, 0.5vw, 100px) 0;
  overflow: hidden;
}

header nav .div-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

header nav .div-1 .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .div-1 .img div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: clamp(0px, 2.5vw, 80px);
  height: clamp(0px, 2.5vw, 80px);
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow: .1px .1px 5px .1px lightgrey;
          box-shadow: .1px .1px 5px .1px lightgrey;
  background-color: white;
}

header nav .div-1 .img div img {
  width: clamp(0px, 3vw, 80px);
  height: clamp(0px, 3vw, 80px);
}

header nav .div-1 .bemvindo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  margin-left: clamp(15px, 1vw, 100px);
  color: white;
  height: 100%;
}

header nav .div-1 .bemvindo div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: clamp(0px, 0.7vw, 25px);
  padding: 5px 0;
}

header nav .div-1 .bemvindo div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: clamp(0px, 0.9vw, 25px);
}

header nav .div-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .div-2 a {
  text-decoration: none;
  color: var(--eleventh-color);
  font-weight: 600;
  font-size: clamp(0px, 0.9vw, 28px);
}

header nav .div-2 ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header nav .div-2 ul li {
  list-style-type: none;
}

header nav .div-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0 clamp(10px, 0.5vw, 20px);
}

header nav .div-3 input {
  width: 100%;
  height: clamp(0px, 1.8vw, 100px);
  border: 1px solid lightgrey;
  border-radius: 15px;
  outline: none;
  padding: 0 40px 0 25px;
  font-size: clamp(0px, 0.8vw, 25px);
}

header nav .div-3 i {
  font-size: clamp(0px, 1vw, 25px);
  position: absolute;
  right: clamp(0px, 1.3vw, 100px);
}

.info {
  width: var(--w-100);
  padding: 80px 10% 40px 5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.info div:first-child {
  width: var(--w-100);
  padding: 20px 10px;
  border-radius: 5px 5px 0px 0px;
}

.info div:first-child div {
  padding: 10px;
  background-color: var(--second-color);
  width: var(--w-100);
}

.info div:first-child div h3 {
  color: var(--eleventh-color);
}

.info div:first-child table {
  width: var(--w-100);
  background-color: var(--fourth-color);
  border-radius: 0px 0px 5px 5px;
}

.info div:first-child td {
  padding: 15px 5px;
  color: var(--eleventh-color);
}

.info div:first-child tr:nth-child(1) td:nth-child(1) {
  width: 1px;
}

.info div:first-child tr:nth-child(1) td:nth-child(3) {
  width: 1px;
}

.info div:first-child tr:nth-child(2) td:nth-child(1) {
  width: 1px;
}

.info div:first-child tr:nth-child(2) td:nth-child(3) {
  width: 1px;
}

.info div:first-child tr:nth-child(2) td:nth-child(4) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info div:first-child tr:nth-child(2) td:nth-child(4) .ativo {
  margin-left: 10px;
  padding: 5px;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: var(--third-color);
}

.info div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: var(--w-100);
}

.hist {
  width: var(--w-100);
  height: var(--h-50vh);
  background-color: var(--fourth-color);
}

.mate {
  width: var(--w-100);
  height: var(--h-50vh);
  background-color: var(--fifth-color);
}

footer {
  width: var(--w-100);
  height: var(--h-40vh);
  background-color: var(--sixth-color);
}
/*# sourceMappingURL=index.css.map */