// Mixins
// @mixin widtheight {

// }

// Scss

header {
    width: var(--w-100);
    height: var(--h-50p);
    position: fixed;
    top: 0;
    left: 0;

    nav {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr 4fr 1.5fr;
        grid-template-rows: var(--h-50p);

        div:nth-child(1) {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 10px;

            img {
                width: 100%;
            }
        }
        div:nth-child(2) {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: 10px 10px;
            

            ul {
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                li {
                    list-style-type: none;
                }
            }
        }
        div:nth-child(3) {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 10px;
            position: relative;

            input {
                width: 100%;
                border: none;
                border-radius: 50px;
                height: 100%;
                padding: 0 40px 0 25px;
                outline: none;
            }            

            i {
                font-size: 18px;
                position: absolute;
                right: 25px;
            }
        }
    }
}

.info {
    width: var(--w-100);
    padding: 80px 10% 40px 5%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    

    div:first-child {
        width: var(--w-100);
        padding: 20px 10px;
        border-radius: 5px 5px 0px 0px;
        
         

        div{
            padding: 10px;
            background-color: var(--second-color);
            width: var(--w-100);

            h3{
                color: var(--eleventh-color);
            }

        }

        table {
            width: var(--w-100);
            background-color: var(--fourth-color);
            border-radius: 0px 0px 5px 5px;
            

        }

        td {
            padding: 15px 5px;
            color: var(--eleventh-color);
            

        }

        tr:nth-child(1) {
            td:nth-child(1){
                width: 1px;
                

            }
            td:nth-child(3){
                width: 1px;
                
            }
            

        }
        tr:nth-child(2) {
            td:nth-child(1){
                width: 1px;
                

            }
            td:nth-child(3){
                width: 1px;
               
            }
            td:nth-child(4){
                display: flex;
                justify-content: flex-start;
                align-items:center ;
                
                .ativo{
                    margin-left:10px;
                    padding: 5px;
                    border-radius: 50%;
                    width: 5px;
                    height: 5px;
                    background-color: var(--third-color);
                }
            }

        }
       
    }
    div:last-child{
        display: flex;
        justify-content: center;
        align-items: center;
        width: var(--w-100);
        
       
    }
}

.hist {
    width: var(--w-100);
    height: var(--h-50vh);
    background-color: var(--fourth-color);
}

.mate {
    width: var(--w-100);
    height: var(--h-50vh);
    background-color: var(--fifth-color);
}

footer {
    width: var(--w-100);
    height: var(--h-40vh);
    background-color: var(--sixth-color);
}
