header {
  width: var(--w-100);
  height: var(--h-50p);
  position: fixed;
  top: 0;
  left: 0;
}

header nav {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-columns: 1fr 4fr 1.5fr;
      grid-template-columns: 1fr 4fr 1.5fr;
  -ms-grid-rows: var(--h-50p);
      grid-template-rows: var(--h-50p);
}

header nav div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px;
}

header nav div:nth-child(1) img {
  width: 100%;
}

header nav div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px;
}

header nav div:nth-child(2) ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header nav div:nth-child(2) ul li {
  list-style-type: none;
}

header nav div:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px;
  position: relative;
}

header nav div:nth-child(3) input {
  width: 100%;
  border: none;
  border-radius: 50px;
  height: 100%;
  padding: 0 40px 0 25px;
  outline: none;
}

header nav div:nth-child(3) i {
  font-size: 18px;
  position: absolute;
  right: 25px;
}

.info {
  width: var(--w-100);
  padding: 80px 10% 40px 5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.info div:first-child {
  width: var(--w-100);
  padding: 20px 10px;
  border-radius: 5px 5px 0px 0px;
}

.info div:first-child div {
  padding: 10px;
  background-color: var(--second-color);
  width: var(--w-100);
}

.info div:first-child div h3 {
  color: var(--eleventh-color);
}

.info div:first-child table {
  width: var(--w-100);
  background-color: var(--fourth-color);
  border-radius: 0px 0px 5px 5px;
}

.info div:first-child td {
  padding: 15px 5px;
  color: var(--eleventh-color);
}

.info div:first-child tr:nth-child(1) td:nth-child(1) {
  width: 1px;
}

.info div:first-child tr:nth-child(1) td:nth-child(3) {
  width: 1px;
}

.info div:first-child tr:nth-child(2) td:nth-child(1) {
  width: 1px;
}

.info div:first-child tr:nth-child(2) td:nth-child(3) {
  width: 1px;
}

.info div:first-child tr:nth-child(2) td:nth-child(4) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info div:first-child tr:nth-child(2) td:nth-child(4) .ativo {
  margin-left: 10px;
  padding: 5px;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: var(--third-color);
}

.info div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: var(--w-100);
  border: 2px solid green;
}

.hist {
  width: var(--w-100);
  height: var(--h-50vh);
  background-color: var(--fourth-color);
}

.mate {
  width: var(--w-100);
  height: var(--h-50vh);
  background-color: var(--fifth-color);
}

footer {
  width: var(--w-100);
  height: var(--h-40vh);
  background-color: var(--sixth-color);
}
/*# sourceMappingURL=index.css.map */